@model IEnumerable<MyMVCApp.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMP_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_DEPARTMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_SALARY)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_DEPARTMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_GENDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_SALARY)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EMP_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EMP_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EMP_ID })
            </td>
        </tr>
    }

</table>
