@model MyMVCApp.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_DETAILS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_DETAILS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_MAN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_MAN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_EXP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_EXP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
