@model QuestionPaperDataFirstApp.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionsPaper.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionsPaper.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.queId }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("Back to List", "Index", new {id = Session["paperId"] }, new { @class = "btn btn-primary" })
</p>
