@model MyMVCApp.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BLOG_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_CATEGORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_CATEGORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_RATINGS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_RATINGS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_CREATED_AT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BLOG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
