@model IEnumerable<QuestionPaperDataFirstApp.Models.QuestionsPaper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userData = (QuestionPaperDataFirstApp.Models.User)Session["UserData"];
}

<h2 class="mb-4">List of papers</h2>

@if (userData.role != "student")
{
    <p>
        @Html.ActionLink("Create New Paper", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noOfQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>

            @{
                if (userData.role != "student")
                {
                    <td>
                        @Html.ActionLink("Manage Questions", "Index", "Questions", new { id = item.paperId, quiz = item.noOfQuestions }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.paperId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.paperId }, new { @class = "btn btn-secondary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.paperId }, new { @class = "btn btn-danger" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Attempt Exam", "Exam", "Student", new { id = item.paperId }, new { @class = "btn btn-primary" })
                    </td>
                }
            }
        </tr>
    }
</table>
